* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin-top: 20%;
  background: #242526;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 100;
}
div {
  margin: 50px auto;
  width: 200px;
  height: 40px;
  position: relative;
  text-align: center;
  overflow: hidden;
  transition-delay: 0.5s;
}
a {
  cursor: pointer;
  padding: 0 1px;
  text-decoration: none;
  color: white;
  overflow: hidden;
  transition-delay: 0.3s;
}
a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: crimson;
  content: "";
  transform: translateX(-100%);

  transition: transform 0.3s;
}
a:hover::before {
  transform: translateX(100%);
}
a::after {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  background: crimson;
  content: "";
  transform: translateX(100%);
  transition: transform 0.3s;
}
a:hover::after {
  transition-delay: 0.3s;
  transform: translateX(-2%);
}
