* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "News Cycle", sans-serif;
  font-size: 16px;
  padding: 20px;
  background: rgb(211, 211, 211);
}
section {
  border-top: 5px solid #0974b3;
  background: white;
  padding: 20px;
  width: 420px;
  height: 400px;
  margin-right: 20px;
}
h1 {
  color: #0974b3;
}
img {
  float: left;
  margin-right: 20px;
  width: 150px;
}
.big {
  width: 900px;
  height: 300px;
  margin-bottom: 20px;
}
.number {
  margin: 0;

  margin-bottom: 20px;
}
.i {
  font-style: italic;
}
h5,
p {
  color: #666;
  font-weight: lighter;
  margin-bottom: 20px;
}
.float {
  float: left;
  width: 420px;
  height: 400px;
}

.second {
  overflow: hidden;
}
